@model fim.Models.marca

@{
    ViewBag.Title = "CreateMarca";
}

<h2>CreateMarca</h2>


@using (Html.BeginForm("CreateMarca","Home", FormMethod.Post, new {enctype= "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>marca</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.Label("Marca", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.marca1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.marca1, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group">
        @Html.Label("Logo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
             <input type="file" name="fich" id="fich" class="form-control"/>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
